a { color:#5D5D9E; } 
a:visited { color:#5D5D9E; } 
a:active { color:#5C615E; } 
a:hover { color:#B2B3B4; } 
#button_64589801 { vertical-align: bottom; position:relative; display: inline-block; width:150px; height:40px; background-color:#21201C;  }
#button_64589801:hover { background-color:#C0C0C0;  }
#button_64589801:hover span { color:#525252; }
#button_33ab7473 { vertical-align: bottom; position:relative; display: inline-block; width:150px; height:40px; background-color:#21201C;  }
#button_33ab7473:hover { background-color:#C0C0C0;  }
#button_33ab7473:hover span { color:#525252; }
#button_9faa198 { vertical-align: bottom; position:relative; display: inline-block; width:150px; height:40px; background-color:#21201C;  }
#button_9faa198:hover { background-color:#C0C0C0;  }
#button_9faa198:hover span { color:#525252; }
#button_18bafa13 { vertical-align: bottom; position:relative; display: inline-block; width:150px; height:40px; background-color:#21201C;  }
#button_18bafa13:hover { background-color:#C0C0C0;  }
#button_18bafa13:hover span { color:#525252; }
#button_12299969 { vertical-align: bottom; position:relative; display: inline-block; width:150px; height:40px; background-color:#21201C;  }
#button_12299969:hover { background-color:#C0C0C0;  }
#button_12299969:hover span { color:#525252; }
#button_594183a4 { vertical-align: bottom; border-radius: 9px; position:relative; display: inline-block; width:150px; height:40px; background-color:#FFA925;  }
#button_594183a4:hover { background-color:#F4D274;  }
#button_594183a4:hover span { color:#FFFFFF; }
body { background-color:#242424; padding:0;  margin: 0; }
.textstyle1 { text-align:center; }
#container_44cd065 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:150px; max-width:1200px; background:none;  }
.textstyle2 { text-align:left; }
#container_1da27e3 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:155px; background-color:#21201C; background-image: url(rc_images/architecture_2575637_1200_stylized.jpg); background-position:top left; background-size:cover;  }
#container_1da27e3_padding { margin: 20px 10px 20px 10px;display: block;  }
.textstyle3 { font-size:22pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  }
#container_3e4c6bf { vertical-align: top; position:relative; display: inline-block; width:51%; min-height:150px; background:none;  }
#container_3e4c6bf_padding { margin: 10px; display: block;  }
.textstyle4 { font-size:24pt; font-family:'Trebuchet MS', Helvetica, sans-serif; color:#FFFFFF; font-weight:bold;  }
.textstyle5 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  }
#container_261211a2 { box-sizing: border-box; vertical-align: top; position:relative; display: inline-block; width:100%; min-height:30px; max-width:1200px; background-color:#21201C; border-top: 1px solid #C08E58; border-left: none; border-right: none; border-bottom: none;  }
.vcenterstyle1 { display: table; width: 100%; height: 100%; }
.vcenterstyle2 { display: table-cell; vertical-align: middle; }
.textstyle6 { font-size:12pt; font-family:'Lucida Sans Unicode', 'Lucida Grande', sans-serif; color:#FFFFFF; font-weight:bold;  }
#container_40cee31b { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:150px; max-width:1200px; background-color:#21201C;  }
#container_40cee31b_padding { margin: 20px; display: block;  }
#container_424bac86 { vertical-align: top; position:relative; display: inline-block; width:93%; min-height:116px; min-width:300px; background:none;  }
#container_424bac86_padding { margin: 10px; display: block;  }
.textstyle7 { font-size:12pt; font-family:'Lucida Sans Unicode', 'Lucida Grande', sans-serif; color:#FFFFFF;  }
.textstyle8 { font-size:32pt; font-family:'Trebuchet MS', Helvetica, sans-serif; color:#FF8040;  }
.textstyle9 { font-size:12pt; font-family:'Trebuchet MS', Helvetica, sans-serif; color:#FFFFFF;  }
#container_11784358 { vertical-align: top; position:relative; display: inline-block; width:29%; min-height:455px; min-width:300px; background:none;  }
#container_11784358_padding { margin: 10px; display: block;  }
#img_60459909 { vertical-align: bottom; position:relative; display: inline-block; width:100%; background:none;  }
#container_373db2b9 { vertical-align: top; position:relative; display: inline-block; width:108%; min-height:96px; min-width:300px; background:none;  }
#container_373db2b9_padding { margin: 10px; display: block;  }
.textstyle10 { font-size:14pt; font-family:Arial, Helvetica, sans-serif; color:#FFFFFF;  }
.textstyle11 { font-size:14pt; font-family:Arial, Helvetica, sans-serif; color:#FF8040;  }
#container_6c4cca11 { vertical-align: top; position:relative; display: inline-block; width:64%; min-height:420px; min-width:300px; background:none;  }
#container_6c4cca11_padding { margin: 10px; display: block;  }
#container_1e69e5c9 { vertical-align: top; position:relative; display: inline-block; width:91%; min-height:421px; background:none;  }
#container_1e69e5c9_padding { margin: 10px; display: block;  }
.textstyle12 { font-size:32pt; font-family:Arial, Helvetica, sans-serif; color:#FFFFFF; font-weight:bold; line-height: 1.5;  }
.textstyle13 { font-size:14pt; font-family:Arial, Helvetica, sans-serif; color:#C0C0C0; line-height: 1.5;  }
#container_a846825 { vertical-align: top; position:relative; display: inline-block; width:94%; min-height:209px; min-width:300px; background:none;  }
#container_a846825_padding { margin: 10px; display: block;  }
.textstyle14 { font-size:26pt; font-family:'Trebuchet MS', Helvetica, sans-serif; color:#FFFFFF; font-weight:bold;  }
#container_4b35f039 { box-sizing: border-box; vertical-align: top; position:relative; display: inline-block; width:100%; min-height:146px; background:none; border: 1px solid #404040;  }
#container_4b35f039_padding { margin: 10px; display: block;  }
.textstyle15 { font-size:26pt; font-family:Arial, Helvetica, sans-serif; color:#FFFFFF;  }
#container_65bb95e9 { box-sizing: border-box; vertical-align: top; position:relative; display: inline-block; width:100%; min-height:146px; background:none; border: 1px solid #404040;  }
#container_65bb95e9_padding { margin: 10px; display: block;  }
#container_78250f0d { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:150px; max-width:1200px; background-color:#333438;  }
#container_78250f0d_padding { margin: 20px; display: block;  }
#container_76e667a9 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:66px; max-width:1200px; background-color:#FFA925;  }
#container_76e667a9_padding { margin: 20px; display: block;  }
