a { color:#5D5D9E; } 
a:visited { color:#5D5D9E; } 
a:active { color:#5C615E; } 
a:hover { color:#B2B3B4; } 
#button_61d52a47 { vertical-align: bottom; position:relative; display: inline-block; width:150px; height:40px; background-color:#21201C;  }
#button_61d52a47:hover { background-color:#C0C0C0;  }
#button_61d52a47:hover span { color:#525252; }
#button_39fbfba2 { vertical-align: bottom; position:relative; display: inline-block; width:150px; height:40px; background-color:#21201C;  }
#button_39fbfba2:hover { background-color:#C0C0C0;  }
#button_39fbfba2:hover span { color:#525252; }
#button_73614d28 { vertical-align: bottom; position:relative; display: inline-block; width:150px; height:40px; background-color:#21201C;  }
#button_73614d28:hover { background-color:#C0C0C0;  }
#button_73614d28:hover span { color:#525252; }
#button_8eb390d { vertical-align: bottom; position:relative; display: inline-block; width:150px; height:40px; background-color:#21201C;  }
#button_8eb390d:hover { background-color:#C0C0C0;  }
#button_8eb390d:hover span { color:#525252; }
#button_193f8526 { vertical-align: bottom; position:relative; display: inline-block; width:150px; height:40px; background-color:#21201C;  }
#button_193f8526:hover { background-color:#C0C0C0;  }
#button_193f8526:hover span { color:#525252; }
body { background-color:#242424; padding:0;  margin: 0; }
.textstyle1 { text-align:center; }
#container_62839c11 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:150px; max-width:1200px; background:none;  }
.textstyle2 { text-align:left; }
#container_203a3bda { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:155px; background:none;  }
#container_203a3bda_padding { margin: 20px 10px 20px 10px;display: block;  }
.textstyle3 { font-size:22pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  }
#container_536d4b65 { vertical-align: top; position:relative; display: inline-block; width:108%; min-height:150px; background:none;  }
#container_536d4b65_padding { margin: 10px; display: block;  }
.textstyle4 { font-size:40pt; font-family:'Trebuchet MS', Helvetica, sans-serif; color:#FFFFFF; font-weight:bold;  }
.textstyle5 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  }
#container_6bb43660 { box-sizing: border-box; vertical-align: top; position:relative; display: inline-block; width:100%; min-height:30px; max-width:1200px; background-color:#21201C; border-top: 1px solid #C08E58; border-left: none; border-right: none; border-bottom: none;  }
.vcenterstyle1 { display: table; width: 100%; height: 100%; }
.vcenterstyle2 { display: table-cell; vertical-align: middle; }
.textstyle6 { font-size:12pt; font-family:'Lucida Sans Unicode', 'Lucida Grande', sans-serif; color:#FFFFFF; font-weight:bold;  }
#container_5cfb26f9 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:150px; max-width:1200px; background-color:#21201C;  }
#container_5cfb26f9_padding { margin: 20px; display: block;  }
#container_5ea16a8f { box-sizing: border-box; vertical-align: top; position:relative; display: inline-block; width:93%; min-height:59px; min-width:300px; background:none; border: 1px solid #404040;  }
#container_5ea16a8f_padding { margin: 10px; display: block;  }
.textstyle7 { font-size:20pt; font-family:'Trebuchet MS', Helvetica, sans-serif; color:#FFFFFF; font-weight:bold;  }
#container_2ab55714 { box-sizing: border-box; vertical-align: top; position:relative; display: inline-block; width:93%; min-height:285px; min-width:300px; background:none; border: 1px solid #404040;  }
#container_2ab55714_padding { margin: 10px; display: block;  }
.textstyle8 { font-size:20pt; font-family:Arial, Helvetica, sans-serif; color:#FFFFFF;  }
.textstyle9 { font-size:20pt; font-family:Arial, Helvetica, sans-serif; color:#FF8000;  }
#slide_909dc1d { overflow:hidden; vertical-align: bottom; position:relative; display: inline-block; width:40%; height:0; padding-top:37%; background:none;  }
#container_47cbe72f { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:150px; max-width:1200px; background-color:#333438;  }
#container_47cbe72f_padding { margin: 20px; display: block;  }
.textstyle10 { font-size:12pt; font-family:'Lucida Sans Unicode', 'Lucida Grande', sans-serif; color:#FFFFFF;  }
#container_65f35e80 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:66px; max-width:1200px; background-color:#FFA925;  }
#container_65f35e80_padding { margin: 20px; display: block;  }
